@import "vimstyle.css";

/*
 * Targets for the selection process:
 * - prevent the page from jumping when clicking a link
 */
div.selection_hack
{
	display:none;
}

/*
 * Container for the selection links:
 * - adjust placement
 */
div.selection_line
{
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:1.0em;
}

/*
 * Links for the selection process:
 * - highlight when selected
 */
div#selection_awk:target  ~ * a[select~=awk] ,
div#selection_bash:target ~ * a[select~=bash] ,
div#selection_cpp:target  ~ * a[select~=cpp] ,
div#selection_lua:target  ~ * a[select~=lua] ,
div#selection_perl:target ~ * a[select~=perl] ,
div#selection_tex:target  ~ * a[select~=tex] ,
div#selection_vim:target  ~ * a[select~=vim]
{
	color:#a000ff;
}

/*
 * Table Rows:
 * - collapse/hide by default, visible when the associated target is selected
 */
div.selection_hack ~ * div[select]
{
	display: none;
}
div#selection_awk:target  ~ * div[select~=awk] ,
div#selection_bash:target ~ * div[select~=bash] ,
div#selection_cpp:target  ~ * div[select~=cpp] ,
div#selection_lua:target  ~ * div[select~=lua] ,
div#selection_perl:target ~ * div[select~=perl] ,
div#selection_tex:target  ~ * div[select~=tex] ,
div#selection_vim:target  ~ * div[select~=vim]
{
	display: initial;
}

/*
 * Code Blocks:
 * - collapse/hide by default, visible when the associated target is selected
 * - take up no space when not selected
 * - adjust none collapsible blocks
 */
div.selection_hack ~ * pre
{
	margin : 6px;
}

div.selection_hack ~ * pre[select]
{
	display: none;
}
div#selection_awk:target  ~ * pre[select~=awk] ,
div#selection_bash:target ~ * pre[select~=bash] ,
div#selection_cpp:target  ~ * pre[select~=cpp] ,
div#selection_lua:target  ~ * pre[select~=lua] ,
div#selection_perl:target ~ * pre[select~=perl] ,
div#selection_tex:target  ~ * pre[select~=tex] ,
div#selection_vim:target  ~ * pre[select~=vim]
{
	display: block;
}

/*
 * Code:
 * - collapse/hide by default, visible when the associated target is selected
 * - take up no space when not selected
 */
div.selection_hack ~ * code[select]
{
	display: none;
}
div#selection_awk:target  ~ * code[select~=awk] ,
div#selection_bash:target ~ * code[select~=bash] ,
div#selection_cpp:target  ~ * code[select~=cpp] ,
div#selection_lua:target  ~ * code[select~=lua] ,
div#selection_perl:target ~ * code[select~=perl] ,
div#selection_tex:target  ~ * code[select~=tex] ,
div#selection_vim:target  ~ * code[select~=vim]
{
	display: initial;
}

div.plugin_setup pre
{
	margin-left: 12px;
}
